<p-carousel [value]="characters"  [numVisible]="3" [numScroll]="3" [circular]="true" >
  <ng-template let-product #item>
      <div class="border border-surface rounded-border m-2 p-4">
          <div class="mb-4">
              <div class="relative mx-auto">
                  <img src="https://github.com/iamromanuriel.png" [alt]="product.name" class="w-full rounded-border" />
              </div>
          </div>
          <div class="mb-4 font-medium">{{ product.name }}</div>
          <div class="flex justify-between items-center">
              <div class="mt-0 font-semibold text-xl">{{ '$' + product.price }}</div>
              <span>
                  <p-button icon="pi pi-heart" severity="secondary" [outlined]="true" />
                  <p-button icon="pi pi-shopping-cart" styleClass="ml-2" />
              </span>
          </div>
      </div>
  </ng-template>
</p-carousel>
