<div class="flex flex-col">
  <div class="font-semibold text-xl">DataView</div>
  <p-dataview [value]="characters" [layout]="layout">
    <ng-template #header>
      <div class="flex justify-end">
      <p-select-button [options]="options" [allowEmpty]="false">
          <ng-template #item let-option>
             <i class="pi " [ngClass]="{ 'pi-bars': option === 'list', 'pi-table': option === 'grid' }"></i>
          </ng-template>
      </p-select-button>
      </div>
    </ng-template>

    <ng-template #list let-items>
      <div class="flex flex-col">
        <div *ngFor="let digimon of characters; let i = index">
          <app-item-list [character]="digimon"/>
        </div>
      </div>

    </ng-template>

  </p-dataview>
</div>
